# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json
/playwright-report

# testing
/coverage
jest-report.xml
/test-results/
/playwright-report/
/playwright/.cache/
